@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <center>

           
            <p>
                <a onclick="location.href='@Url.Action("Index", "Reception")'" class="btn btn-primary btn-lg">Réceptions en atttente</a>                
                <a onclick="location.href='@Url.Action("Index", "Expedition")'" class="btn btn-primary btn-lg">Expéditions en attente</a>
                <a onclick="location.href='@Url.Action("Index", "Stock")'" class="btn btn-primary btn-lg">Mouvements de stock</a>
            </p>
            <img src="~/Images/Entrepot.jpg" alt="Warehouse" />
        </center>
    </div>

