@{
    ViewBag.Title = "Home Page";
}


    <center>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>
            <a onclick="location.href='@Url.Action("Index", "Reception")'" class="btn btn-primary btn-lg">Réceptions en atttente</a>
            <br />
            <br />
            <br />
            <a onclick="location.href='@Url.Action("Index", "Expedition")'" class="btn btn-primary btn-lg">Expéditions en attente</a>
            <br />
            <br />
            <br />
            <a onclick="location.href='@Url.Action("Index", "Stock")'" class="btn btn-primary btn-lg">Mouvements de stock</a>
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </center>

